
body {
  background-image: url(./images/tip-cal.jpeg);
  background-size: cover;
  background-repeat: no-repeat;

  /* Control the height of the image */
  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  position: relative;
}

.centered {
  position: absolute;
  top: 73.35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

container {
  position: relative;
  text-align: right;
  color: white;
}

#customTip {
  margin-top: 75px;
}

.doYouTip {
  font-size: 5px;
}

form {
  height: 500px;
  width: 400px
  position: center;

}

#showCustomTip {
  font-size: 33px;
}
