/*
body {
  background-image: url(./images/Tip.jpg);
  background-size: cover;
}

container {
  position: relative;
  text-align: right;
  color: white;
}



.centered {
  position: absolute;
  top: 73.35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.doYouTip {
  font-size: 5px;
}


#form {
  border-style: double;
  border-width: thick;
}
/*
